<launch>
    <node name="controller" pkg="pid" type="controller" ns="pid_thrust">
      <param name="Kp" value="-3.0" />
      <param name="Ki" value="0" />
      <param name="Kd" value="-1.8" />
      <!-- <param name="upper_limit" value="1.0" /> -->
      <!-- <param name="lower_limit" value="-1.0" /> -->
      <param name="upper_limit" value="0.0" />
      <param name="lower_limit" value="0.0" />
      <param name="windup_limit" value="0.4" />
      <param name="max_loop_frequency" value="20.0" />
      <param name="min_loop_frequency" value="20.0" />
      <!-- <remap from="state" to="/pid_thrust/setpoint" /> -->
      <remap from="setpoint" to="/pid_zero_setpoint" />
     </node>

</launch>
