<launch>
    <node name="controller" pkg="pid" type="controller" ns="pid_ximg">
      <param name="Kp" value="-3.0" />
      <param name="Ki" value="-0.2" />
      <param name="Kd" value="-2.2" />
      <param name="upper_limit" value="2.0" />
      <param name="lower_limit" value="-2.0" />
      <param name="windup_limit" value="1.0" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!-- <remap from="state" to="/pid_roll/setpoint" /> -->
      <remap from="setpoint" to="/pid_zero_setpoint" />
     </node>

     <node name="controller" pkg="pid" type="controller" ns="pid_yimg">
      <param name="Kp" value="-3.0" />
      <param name="Ki" value="-0.0" />
      <param name="Kd" value="-2.2" />
      <param name="upper_limit" value="1.50" />
      <param name="lower_limit" value="-1.50" />
      <param name="windup_limit" value="0.4" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <!-- <remap from="state" to="/pid_pitch/setpoint" /> -->
      <remap from="setpoint" to="/pid_zero_setpoint" />
    </node>



    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/pid_ximg/control_effort
          /pid_ximg/state
          /pid_yimg/control_effort
          /pid_yimg/state" />

</launch>
