<launch>
    <node name="controller" pkg="pid" type="controller" ns="pid_yaw">
      <param name="Kp" value="1.3" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.8" />
      <param name="upper_limit" value="0.0" />
      <param name="lower_limit" value="-0.0" />
      <param name="windup_limit" value="0.0" />
      <param name="max_loop_frequency" value="20.0" />
      <param name="min_loop_frequency" value="20.0" />
      <param name="angle_error" value="true" />
      <!-- <remap from="state" to="/pid_yaw/setpoint" /> -->
      <remap from="setpoint" to="/pid_zero_setpoint" />
     </node>

</launch>
